<template>
  <div class="project">
    <!-- <h1>Project: {{ projectId }}</h1> -->
    <!-- <code>{{ JSON.stringify(project, null, 2) }}</code> -->
    <!-- <code>{{ JSON.stringify(projectTree, null, 2) }}</code> -->
    <div v-if="project && readme" v-html="readme"></div>
    <div v-else class="loader">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import marked from 'marked'
import GitLab from '@/clients/gitlab-client.ts'

const gitlab = new GitLab()

export default Vue.extend({
  name: 'project',
  props: {
    projectId: String,
  },
  data: () => ({
    project: undefined as any,
    readme: undefined as string | undefined,
    projectTree: [],
  }),
  async created() {
    this.project = await gitlab.project(this.projectId)
    const projectTree = await gitlab.projectTree(this.projectId)
    this.projectTree = projectTree
    const readmeFile = this.projectTree.find((file: any) => file.name === 'README.md') as any
    if (readmeFile) {
      this.readme = marked(await gitlab.projectFile(this.projectId, readmeFile.id))
    }
  },
})
</script>
