<template>
  <div class="search">

      <div class="intro animated fadeInDown fast">
        <h1 class="header">Discover new GitLab users!</h1>

        <div class="icons">
          <v-icon small color="#9e9e9e">desktop_mac</v-icon>
          <span>/</span>
          <v-icon small color="#9e9e9e">smartphone</v-icon>
        </div>
      </div>

      <v-autocomplete
        class="input animated fadeInUp fast"
        v-model="userName"
        :loading="loading"
        :items="users.map((user) => user.username)"
        :search-input.sync="search"
        autofocus
        auto-select-first
        cache-items
        flat
        hide-no-data
        hide-details
        label="Search users"
        solo
      >
        <template v-slot:append>
          <v-progress-circular v-if="loading" width="3" size="24" indeterminate color="grey"></v-progress-circular>
          <v-icon v-else>search</v-icon>
        </template>
      </v-autocomplete>

  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import GitLab, { Canceler } from '@/clients/gitlab-client.ts'

const gitlab = new GitLab()

export default Vue.extend({
  name: 'search',
  data: () => ({
    userName: null,
    loading: false,
    users: [],
    search: null,
    timeout: null as NodeJS.Timeout | null,
  }),
  watch: {
    userName(val) {
      this.viewUser(val)
    },
    search(val) {
      if (!val) return
      if (val === this.userName) return
      if (this.timeout) clearTimeout(this.timeout)
      this.loading = true
      this.timeout = setTimeout(() => {
        this.searchUsers(val)
      }, 500)
    },
  },
  methods: {
    async searchUsers(username: string) {
      this.loading = true
      const users = await gitlab.searchUsers(username)
      this.loading = false
      this.users = users
    },
    async viewUser(userName: string) {
      const users = this.users
      const user = users.find((u: any) => u.username === userName) as any
      if (user) {
        this.$router.push(`/user/${user.username}`)
      }
    },
  },
})
</script>

<style lang="scss">
.search {
  margin-top: 11rem;
  margin-top: 20vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .intro {
    text-align: center;
    .header {
      margin-bottom: 2rem;
    }
    .icons {
      margin-bottom: 3rem;
      color: #9e9e9e;
      span {
        font-size: 16px;
        padding: 0 0.3rem 0 0.5rem;
      }
    }
  }
  .input {
    display: flex;
    justify-content: center;
    >* {
      max-width: 30rem;
    }
    .v-icon {
      transform: none !important;
    }
  }
}
</style>
