<template>
  <div class="user">
    <div v-if="user">
      <div class="details fadeInDown">
        <a :href="user.web_url" target="_blank">
          <v-avatar :title="user.name" color="grey lighten-4" height="4rem" width="4rem">
            <v-img :src="user.avatar_url" alt="avatar" />
          </v-avatar>
        </a>
        <h3>{{ user.name }}</h3>
        <p>Member since: {{ formatDate(user.created_at) }}</p>
        <p>
          <span class="website" v-if="user.website_url"><a href="user.website_url" target="_blank">{{ user.website_url }}</a></span>
          <span><v-icon small color="#9e9e9e">location_on</v-icon> {{ user.location }}</span>
        </p>
        
      </div>

      <!-- {{ JSON.stringify(user, null, 2) }} -->

      <div class="projects-container">
        <user-project
          v-for="project in projects"
          :key="project.id"
          :project="project"
          @click="go(`/project/${project.id}`)"
        ></user-project>
      </div>
    </div>
    <div v-else class="loader">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import GitLab from '@/clients/gitlab-client.ts'
import UserProject from '@/components/UserProject.vue'

const gitlab = new GitLab()

export default Vue.extend({
  name: 'user',
  components: {
    UserProject,
  },
  props: {
    userName: String,
  },
  data: () => ({
    user: undefined as any,
    projects: [],
  }),
  computed: {
    loading(): boolean {
      return !this.user
    },
  },
  watch: {
    loading(val) {
      if (!val) {
        setTimeout(() => {
          this.$el.querySelector('.details')!.classList.add('animated')
        }, 1000)
      }
    },
  },
  async created() {
    const projects = await gitlab.userProjects(this.userName)
    this.projects = projects
    const [{ id }] = await gitlab.getUsers(this.userName)
    const user = await gitlab.getUser(id)
    this.user = user
  },
  methods: {
    go(page: string) {
      this.$router.push(page)
    },
    back() {
      this.$router.back()
    },
    formatDate(dateStr: string) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      const date = new Date(dateStr)
      return date.toLocaleDateString('en-US', options)
    },
  },
})
</script>

<style lang="scss">
.user {
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-bottom: 2rem;
    h3 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: 0;
      margin-bottom: 0.3rem;
    }
    .website {
      &::after {
        content: '\00B7';
        padding: 0 0.5rem;
        font-weight: 700;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .projects-container {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    >* {
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%;
      padding: 1rem;

      @media only screen and (max-width: 700px) {
        flex-basis: 100%;
        max-width: 100%;
      };
    }
  }
}

</style>