<template>
  <div class="user-project" @mouseover="mouseOver" @mouseleave="mouseLeave">
    <v-card color="blue-grey darken-2" dark :elevation="elevation" height="160" ripple>
      <v-card-title primary-title>
        <div>
          <div class="headline">{{ project.name }}</div>
          <span>{{ project.description }}</span>
        </div>
      </v-card-title>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'user-project',
  props: {
    project: Object,
  },
  data: () => ({
    hover: false,
  }),
  computed: {
    elevation(): number {
      return this.hover ? 6 : 1
    },
  },
  methods: {
    mouseOver() {
      this.hover = true
    },
    mouseLeave() {
      this.hover = false
    },
  },
})
</script>

<style lang="scss">
.user-project {
  .v-card {
    cursor: pointer;
  }
}
</style>