<template>
  <v-app id="app">

    <v-toolbar v-if="!isHome" class="navigation" dark>
      <v-btn icon>
        <v-icon v-on:click="back()">arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn v-on:click="go('/about')" flat>About</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <div class="content">
      <div class="container">
        <router-view/>
      </div>
    </div>

    <footer class="footer">
      <a href="https://gitlab.com/jiaan/gitapp">Source code</a>
    </footer>

  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'app',
  computed: {
    title(): string {
      const { path } = this.$route
      const name = path.substr(1).split('/').pop()
      return !name ? '' : name[0].toUpperCase() + name.substr(1)
    },
    isHome(): boolean {
      return !this.title
    },
  },
  methods: {
    go(page: string) {
      this.$router.push(page)
    },
    back() {
      this.$router.back()
    },
  },
})
</script>

<style lang="scss">
html {
  font-size: 1em !important;
  background-repeat: no-repeat;
}
html, body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background: linear-gradient(-45deg, rgba(142, 68, 173,0.8), rgba(155, 89, 182,0.9), rgba(52, 73, 94,1.0), rgba(44, 62, 80,1.0));

  .navigation {
    background-color: #314459;
  }

  .content {
    margin: 2rem 0 4rem 0;
    z-index: 1;
  }

  .container {
    max-width: 50rem;
  }

  .footer {
    height: 3rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 0;
    a {
      color: #9e9e9e;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .loader {
    position: fixed;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
  }
}
</style>
